<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home | PC Market</title>
    <meta charset="UTF-8">
    <meta name="description" content="This is a website for selling used pc or pc parts."/>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <header>
        <div th:replace="~{ fragments/nav :: navigation}" ></div>
        <div class="main-search">
            <div class="box">
                <a href="#"><img src="img/pc.jpg" alt="PC"></a>
                <p class="title">PC</p>
            </div>
            <div class="box">
                <a href="#"><img src="img/pc_parts.jpg" alt="PC parts"></a>
                <p class="title">Hardware</p>
            </div>
            <div class="box">
                <a href="#"><img src="img/mobile.jpg" alt="mobile"></a>
                <p class="title">moible</p>
            </div>
            <div class="box">
                <a href="#"><img src="img/console.jpg" alt="gaming console"></a>
                <p class="title">gaming console</p>
            </div>
        </div>
    </header>
    <main>
    </main>
    <footer>
    </footer>
</body>
</html>