<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home | PC Market</title>
    <div th:replace="~{ fragments/nav :: metaAndLinks}" ></div>
</head>
<body>
    <header>
        <div th:replace="~{ fragments/nav :: navigation}" ></div>
        <div class="main-search">
            <div class="box">
                <a href="#"><img src="img/pc.jpg" alt="PC"></a>
                <p class="title">PC</p>
            </div>
            <div class="box">
                <a href="#"><img src="img/pc_parts.jpg" alt="PC parts"></a>
                <p class="title">Hardware</p>
            </div>
            <div class="box">
                <a href="#"><img src="img/mobile.jpg" alt="mobile"></a>
                <p class="title">moible</p>
            </div>
            <div class="box">
                <a href="#"><img src="img/console.jpg" alt="gaming console"></a>
                <p class="title">gaming console</p>
            </div>
        </div>
    </header>
    <main>
    </main>
    <footer>
    </footer>
</body>
</html>