:root {
    --clr-white: #f3fcf0;
    --clr-black: #242325;
    --clr-orange: #f26419;
    --clr-blue: #3f88c5;
    --clr-blue2: #388697;
    --font-size: 16px;
    --menu-font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Futura;
    color: var(--clr-white);
    background-color: var(--clr-blue);
    font-size: var(--font-size);
}


/************************/
/*	HEADER - NAVIGATION	*/
/************************/

header{
    background-color: var(--clr-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

header nav {
    background-color: inherit;
}

header nav ul {
    background-color: inherit;
    padding: 1em 0em 1em 4em;
    margin: 0;
}

header nav li {
    background-color: inherit;
    margin: .5em 0;
    padding: .5em 0;
    display: inline-block;

    list-style: none;
}

header nav li a {
    background-color: inherit;
	padding: .5em 1em;
    margin: 0;
    border-radius: .5em;
    border: 2px solid var(--clr-orange);

    text-decoration: none;
    font-size: var(--menu-font-size);
    transition: all .3s ease 0s;
}
header nav li a:hover {
	color: var(--clr-black);
	background-color: var(--clr-orange);
    transition: all .3s ease 0s;
}

header > h1 {
    background-color: inherit;
    color: var(--clr-white);
    font-size: 32px;
    font-weight: bolder;
    margin: .5em;
    float: left;
}

@media only screen and (max-width: 800px) {
    header {
        width: 100%;
        height: 100vh;
        padding: 0;
    }
    header nav{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    header nav ul { 
        width: 100%;
        height: 100vh;
        padding: 0em;
        min-width: min-content;
    }
    header nav > ul li {
        display: block; 
        line-height: 3em;
    }
    header nav > ul a {font-size: 24px;}
    #title {
        display: none;
    }
}


/*************************/
/*		MAIN CONTENT	*/
/************************/


/********************/
/*	   FORM     	*/
/********************/
/*
form {
    background-color: var(--clr3);
    margin: 1em;
    padding: 1em;
    border-radius: .5em;
    border: 2px solid var(--clr4);
    width: fit-content;
}

form label {
    display: inline-block;
    color: var(--clr4);
    background-color: inherit;
    font-size: var(--menu-font-size);
}
*/
/********************/
/*		TABLE    	*/
/********************/
/*
table{
    border-collapse: collapse;
    color: var(--clr3);
    margin: 1em;
}

table td, table th {
    border: 1px solid  var(--clr3);
    padding: 8px;
    color: var(--clr3);
  }
  
  table tr:nth-child(even){background-color: var(--clr5);}
  
  table tr:hover {background-color: var(--clr4);}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--clr3);
    color: var(--clr4);
  }

  table a:hover {
    color: var(--clr3);
  }

  table img {
    max-width: 200px;
    max-height: 100px;
  }
*/
/****************************/
/*		Helpers         	*/
/****************************/

.middle_items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}