:root {
    --clr-white: #FCFCFC;
    --clr-green: #254c55;
    --clr-dark: #272D2D;
    --clr-orange: #f04f0a;
    --clr-orange-transparent: #f04f0aD8;
    --clr-black-transparent: rgba(0, 0, 0, 0.4);
    --font-size: 16px;
    --menu-font-size: 20px;
    --cover: url(../img/cover.jpg);
}

* {
    margin: 0;
    padding: 0;
    font-family: Futura;
    color: var(--clr-white);
    background-color: var(--clr-dark);
    font-size: var(--font-size);
}


/************************/
/*	HEADER - NAVIGATION	*/
/************************/

header{
    width: 100%;
    height: fit-content;
    background: var(--cover);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header nav {
    background-color: var(--clr-black-transparent);
    width: 100%;
    min-height: 20vh;
    max-height: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: start;
}

#logo{
    margin: 0 0;
    background-color: transparent;
}

#logo img{
    max-width: 100px;
    width: 10vw;

    margin: 1em 1em;
    padding: .3em .3em;
    background-color: transparent;
    border-radius: 10%;

    transition: .2s ease-in-out;
}

#logo img:hover{
    background-color: var(--clr-orange-transparent);
}

header nav ul {
    background-color: transparent;
    padding: 1em 0em 1em 0em;
    margin: 0 5em;
}

header nav li {
    background-color: transparent;
    margin: .5em 0;
    padding: .5em 0;
    display: inline-block;

    list-style: none;
}

header nav li a {
    background-color: transparent;
	padding: .5em 1em;
    margin: 0;

    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all .3s ease 0s;
}
header nav li a:hover {
	color: var(--clr-orange);
    transition: all .3s ease 0s;
}

header > h1 {
    background-color: inherit;
    color: var(--clr-white);
    font-size: 32px;
    font-weight: bolder;
    margin: .5em;
    float: left;
}


/*************************/
/*		MAIN CONTENT	*/
/************************/

.main-search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;

    background-color: var(--clr-black-transparent);
    width: 100%;
    min-height: 30vh;
    max-height: fit-content;
}

.main-search .box{
    background: transparent;
    width: 300px;
    height: 200px;

    margin: 2rem 2rem;
    padding: 0;
    overflow: hidden;

    border: .2rem var(--clr-white) solid ;
    border-radius: 1rem;
    position: relative;
    top: 0;

    transition: .4s ease-in-out;
}
.main-search .box:hover{
    border: .2rem var(--clr-orange) solid ;
    top: -1.4rem;
}

.main-search a {
    background: transparent;
}

.main-search img {
    background: transparent;
    width: 300px;
    transition: .4s ease-in-out;
    position: relative;
    top: 0;
    left: 0;
}
.main-search .box:hover img {
    width: 450px;
    top: -1.4rem;
}

 .title{
    color: var(--clr-white);
    background: transparent;

    display: block;
    position: absolute;
    width: 100%;
    top: 2em;
    left: auto;
    text-align: center;
    transition: .4s ease-in-out;

    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 2px 2px 1px black;
}
.box:hover > .title{
    color: var(--clr-orange);
}




/********************/
/*	   FORM     	*/
/********************/

.middle_items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}