<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PC Market</title>
    <meta charset="UTF-8">
    <meta name="description" content="This is a website for selling used pc or pc parts."/>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <header>
        <h1 id="title">Main Page</h1>
        <div th:replace="~{ fragments/nav :: navigation}" ></div>
    </header>
    <main>
        <p>asd asd asd</p>
    </main>
    <footer>
    </footer>
</body>
</html>